body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
	-webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.counter {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

#count {
    font-weight: bold;
    color: red;
	font-size: 200px;
}

button {
    padding: 30px 50px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
